<div id="chrono-content">

    {{#each items}}
    <div class="project-row project-{{type}}" data-category="{{#each categories}}[{{@key}}]{{/each}}">
        <date>{{date}}</date>
        <div class="project">
            {{#each categories}}
            <div class='category-name'>[{{@key}}]</div>
            {{/each}}
            <title>{{title}}</title>
            <author>{{author}}</author>
        </div>
        <a href="/{{type}}/{{slug}}" class="row-link"></a>
        <a href="#" class="category">{{type}}</a>
    </div>
    {{/each}}

</div>
<style>
    #chrono-content .category-name{
        position: relative;
        z-index: 9999999;
        cursor: pointer;
    }
    #chrono-content .category-name:hover{
        text-decoration: underline;
    }
</style>