<div id="chrono-content">

    {{#each items}}
    <div class="project-row">
        <date>{{date}}</date>
        <div class="project">
            {{#each categories}}
            <div class='category-name'>[{{@key}}]</div>
            {{/each}}
            <title>{{title}}</title>
            <author>{{author}}</author>
        </div>
        <a href="/{{type}}/{{slug}}" class="row-link"></a>
        <a href="#" class="category">{{type}}</a>
    </div>
    {{/each}}

</div>