<div id="extracts-content">

    <div class="col-left">

        <title>EXTRACTS</title>
        <subtitle>FILES</subtitle>
        <text>{{extracts.length}} Items</text>

        <div id="boxes">
            <label><input type="radio" class="box download-format" name="format" value="html"><text>html</text></label>
            <label><input type="radio" class="box download-format" name="format" value="pdf"
                    checked><text>.pdf</text></label>
            <label><input id="conditions" type="checkbox" class="box" name="conditions"><text>I agree to the terms and
                    conditions</text></label>
        </div>

        <input type="text" class="email" id="email" placeholder="Type your email...">
        <button id="download">DOWNLOAD</button>

        <div class="errors"></div>

        <div id="terms">
            TERMS AND CONDITIONS <br /><br />
            A&#41; Terms and Conditions agreement is the agreement that includes the terms, the rules and the guidelines
            of acceptable behavior and other useful sections to which users must agree in order to use or access your
            website and mobile app.
        </div>
    </div>

    <div class="col-right">
        {{#each extracts}}
        <div class="row img">
            <category>{{type}}</category>

            {{#ifEquals type 'image'}}
            <button class='delete-button' slug="{{slug}}">delete</button>
            <img src="{{images.0.col_id_11}}" />
            <div class="epigraph">
                {{images.0.col_id_12}}
            </div>
            {{/ifEquals}}

            {{#ifEquals type 'video'}}
            <button class='delete-button' slug="{{slug}}">delete</button>
            <video autoplay muted loop src="{{video}}" width="100%" />
            <div class="epigraph">
                {{title}}
            </div>
            {{/ifEquals}}

            {{#ifEquals type 'text'}}
            <button class='delete-button' slug="{{slug}}">delete</button>
            <div class="epigraph">
                {{title}}
            </div>
            <div class="body">
                {{{author}}}
            </div>
            {{/ifEquals}}

            {{#ifEquals type 'sound'}}
            <button class='delete-button' slug="{{slug}}">delete</button>
            <img src="{{images.0.col_id_11}}" />
            <div class="epigraph">
                {{title}}
            </div>

            {{/ifEquals}}



        </div>
        {{else}}
        <div style='margin-top: 100px;text-align: center;'>IS EMPTY</div>
        {{/each}}


    </div>
</div>

</div>