<div id="sound-content">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="col-left">

        <div class="post">
            <time>Apr 1st 2020</time>
            <h2 class="title">{{title}}</h2>
            <h3 class="author">{{author}}</h3>
            <h4 class="subtitle">{{subtitle}}</h4>
        </div>

        <div class="audio">
            <audio controls
                src="https://file-examples-com.github.io/uploads/2017/11/file_example_MP3_700KB.mp3"></audio>
            <div class="play">
                <button>play</button>
                <track>Name • Name</track>
            </div>

            <time>00:00:00</time>

            <audio></audio>

            <div class="tracklist">
                <p>{{tracklist}}</p>
            </div>

        </div>

    </div>

    <div class="col-right">

        {{#each images}}
        <div class="row img">
            <img src="{{col_id_11}}" />

            <div class="epigraph">
                {{col_id_12}}
            </div>
        </div>
        {{/each}}
    </div>

</div>

</div>