<div id="sound-content">

    <div class="col-left">

        <div class="post">
            <time>{{date}}</time>
            {{#each categories}}
                <div class='category-name'>[{{@key}}]</div>
            {{/each}}
            <h2 class="title">{{title}}</h2>
            <h3 class="author">{{author}}</h3>
            <!--h4 class="subtitle">{{subtitle}}</h4-->
        </div>

        <div class="audio">
            <div class="play play-wrapper">
                <span class="audio-button button">


                    <svg width="45" id="button-play" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40"
                        style="enable-background:new 0 0 40 40;" xml:space="preserve">
                        <style type="text/css">
                            .st0 {
                                fill: #AE85FD;
                            }

                            .st1- {
                                fill: #F2F2F2;
                            }
                        </style>
                        <circle class="st0" cx="20" cy="20" r="19.5" />
                        <g>
                            <path class="st1-" d="M16.69,9.87l-1.93,1.93l0.01,16.4l1.91,1.93l12.56-10.12L16.69,9.87z M16.93,27L16.93,27L16.93,27z M16.94,27
		L16.95,13L26,20.01L16.94,27z" />
                        </g>
                    </svg>




                    <svg width="45" id='button-pause' version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40"
                        style="enable-background:new 0 0 40 40;" xml:space="preserve">
                        <style type="text/css">
                            .st0 {
                                fill: #AE85FD;
                            }

                            .st1 {
                                fill: none;
                            }

                            .st2 {
                                fill: #F2F2F2;
                            }
                        </style>
                        <circle class="st0" cx="20" cy="20" r="19.5" />
                        <g>
                            <polygon class="st1"
                                points="17.95,26.92 17.95,26.92 17.95,27.8 18.83,26.92 18.85,26.92 26.49,19.28 17.97,11.65 	" />
                            <g>
                                <g>
                                    <rect x="12.17" y="12.65" class="st2" width="2.06" height="13.67" />
                                    <rect x="16.78" y="12.65" class="st2" width="2.06" height="13.67" />
                                    <rect x="12.17" y="24.24" class="st2" width="6.67" height="2.06" />
                                    <rect x="12.17" y="12.65" class="st2" width="6.67" height="2.06" />
                                </g>
                                <g>
                                    <rect x="21.17" y="12.65" class="st2" width="2.06" height="13.67" />
                                    <rect x="25.78" y="12.65" class="st2" width="2.06" height="13.67" />
                                    <polyline class="st2" points="27.83,24.24 27.83,26.3 21.17,26.3 21.17,24.24 			" />
                                    <rect x="21.17" y="12.65" class="st2" width="6.67" height="2.06" />
                                </g>
                            </g>
                        </g>
                    </svg>


                </span>
                <div class='track' style="flex: 4;">{{title}} • {{author}}</div>
                <time id='current-time'>0:00</time>
            </div>



            <div id="audio" src="{{audio}}"></div>


            <div class="tracklist   ">
                <h3>Description</h3>
                <p>{{tracklist}}</p>
            </div>

        </div>

    </div>

    <div class="col-right">

        {{#each images}}
        <div class="img-row">
            <img src="{{col_id_1}}" width="100%" />

            <div class="epigraph">
                {{col_id_2}}
            </div>
        </div>
        {{/each}}
    </div>

    <div class="entries-nav">
        <a id="arrow-prev" href="{{prev}}"><img src="/arrow-prev.svg" /></a>
        <a id="arrow-next" href="{{next}}"><img src="/arrow-next.svg" /></a>
    </div>

</div>

</div>