<div id="text-content">

    <div class="col-left">

        <div class="post">
            <time>{{date}}</time>
            {{#each categories}}
            <div class='category-name'>[{{@key}}]</div>
        {{/each}}
            <h2 class="title">{{title}}</h2>
            <h3 class="author">{{author}}</h3>
            <h4 class="subtitle">{{subtitle}}</h4>
        </div>

        <div class="text">
            {{{body}}}
        </div>

    </div>

    <div class="col-right">

        {{#each images}}
        <div class="img-row">
            <img src="{{col_id_1}}" />

            <div class="epigraph">
                {{col_id_2}}
            </div>
        </div>
        {{/each}}
    </div>

    <div class="entries-nav">
        <a id="arrow-prev"><img src="/arrow-prev.svg" /></a>
        <a id="arrow-next"><img src="/arrow-next.svg" /></a>
    </div>

</div>